.title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.text {
  text-align: center;
  font-size: 14px;
}

.btn {
  margin: 15px 0;
  width: 48px;
  height: 48px;
  font-size: 30px;
  border: 2px solid var(--accent-color);
  border-radius: 50% 50%;
  color: var(--accent-color);
  background-color: var(--background-color);
}

.btn:hover,
.btn:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .converter {
    flex-direction: row;
  }

  .side {
    width: 300px;
  }

  .btn {
    margin: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .side {
    width: 500px;
  }
}
