@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap");
@import "./variables.css";

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: var(--background-color);
}
